@model IEnumerable<Blog.Models.ViewModels.Person>
@{
    ViewBag.Title = "Contact";
}

@foreach (var p in Model)
{
<div class="media" style="margin-left:10%;">
    <div class="media-left media-middle">
        <img class="media-object" style="width:200px;" src="@Url.Content(p.UrlImg)" alt="...">
    </div>
    <div class="media-body">
        <h4 class="media-heading">姓名: @p.Name</h4>
        <h4 class="media-heading">
            DotBolg: <a href="@p.UrlDote">@p.UrlDote</a>
        </h4>
    </div>
</div>
}